.modalBtn{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 12px 24px;
    cursor: pointer;
    
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}
.modalContainer{
    max-width: 600px;
    width: 100%;  
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}
img{
    width: 250px;
    object-fit: cover;
}
.modalRight{
    width: 100%;
}
.closeBtn{
    position: fixed;
    top: 1px;
    right: 8px;
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
}
.btnContainer{
    display: flex;
    padding: 1rem 1rem;
}
.btnContainer button{
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    border: none;
    color: #ffffff;
}
.btnPrimary{
    background-color: rgb(201, 69, 69);
    cursor: pointer;
}
.btnOutLine{
    background-color: rgb(129, 243, 125);
    cursor: pointer;
}
.btnPrimary--small {
    font-size: 12px;
    padding: 10px 16px;
    cursor: pointer;
}
.btnPrimary--medium {
    font-size: 14px;
    padding: 11px 20px;
    cursor: pointer;
}
.btnPrimary--large {
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
}
.btnPrimary1{
    background-color: rgb(106, 168, 248);
    cursor: pointer;
}
.btnOutLine2{
    background-color: rgb(121, 115, 115);
    cursor: pointer;
}

@media screen and (max-width:500px){
    .modalContainer{
        flex-direction: column;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
    }
    img{
        width: 100%;
    }
    .closeBtn{
        color: #ffffff;
    }
}